bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/DXRenderer/Debug
/Debug
/DXRenderer/x64
/x64
/Build
/.vs
/Video/Source
Video/DXRendererVideo.aep
/Video/Adobe After Effects Auto-Save
/Project
*.blend1
/Videos
